@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.6%;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.6%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.6%;
        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;
        --accent: 0 84.2% 60.2%;
        --accent-foreground: 0 0% 100%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 100%;
        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 0 84.2% 60.2%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 0 0% 3.6%;
        --foreground: 0 0% 98.2%;
        --card: 0 0% 3.6%;
        --card-foreground: 0 0% 98.2%;
        --popover: 0 0% 3.6%;
        --popover-foreground: 0 0% 98.2%;
        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;
        --accent: 0 72.2% 50.6%;
        --accent-foreground: 0 0% 0%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98.2%;
        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 72.2% 50.6%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}